{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
